.sidebar {
  gap: 30px;
  display: flex;
  flex-direction: column;

  h2 {
    font-size: 1.25rem; /* text-xl */
    font-weight: 700; /* font-bold */
    background: linear-gradient(
      to right,
      #2563eb,
      #4f46e5
    ); /* bg-gradient-to-r from-blue-600 to-indigo-600 */
    -webkit-background-clip: text; /* bg-clip-text */
    background-clip: text; /* bg-clip-text */
    color: transparent; /* text-transparent */
  }
  .menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 10px;

    h4 {
      font-size: 0.9rem;
      font-weight: semibold;
      color: grey;
    }
    a {
      text-decoration: none;
      font-size: 25px;
      font-weight: bold;

      span {
        font-size: 1.2rem;
        color: black;
      }
    }
  }
}
